body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container{
    position: relative;
    width: 250px;
    height: 130px;
    background: rgba(0,0,0,.1);
    transform: rotate(-30deg) skew(25deg);
    transition: .5s;
}
.container img{
    border-radius: 6px;
    position: absolute;
    width: 100%;
    transition: .5s;
}
.container:hover img:nth-child(4){
    transform: translate(80px, -80px);
    opacity: 1;
}
.container:hover img:nth-child(3){
    transform: translate(60px, -60px);
    opacity: .8;
}
.container:hover img:nth-child(2){
    transform: translate(40px, -40px);
    opacity: .6;
}
.container:hover img:nth-child(1){
    transform: translate(20px, -20px);
    opacity: .4;
}